<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>BlogSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>service.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>service.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>service.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PostListServlet</servlet-name>
    <servlet-class>service.PostListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostListServlet</servlet-name>
    <url-pattern>/postlist.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WritePostServlet</servlet-name>
    <servlet-class>service.WritePostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WritePostServlet</servlet-name>
    <url-pattern>/writepost.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PostDetailsServlet</servlet-name>
    <servlet-class>service.PostDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostDetailsServlet</servlet-name>
    <url-pattern>/postdetails.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WriteCommentServlet</servlet-name>
    <servlet-class>service.WriteCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteCommentServlet</servlet-name>
    <url-pattern>/writecomment.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetCommentsServlet</servlet-name>
    <servlet-class>service.GetCommentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCommentsServlet</servlet-name>
    <url-pattern>/getcomments.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetUserServlet</servlet-name>
    <servlet-class>service.GetUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserServlet</servlet-name>
    <url-pattern>/getuser.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetTagsServlet</servlet-name>
    <servlet-class>service.GetTagsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTagsServlet</servlet-name>
    <url-pattern>/gettags.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PostModifyServlet</servlet-name>
    <servlet-class>service.PostModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostModifyServlet</servlet-name>
    <url-pattern>/postmodify.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PostDeleteServlet</servlet-name>
    <servlet-class>service.PostDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostDeleteServlet</servlet-name>
    <url-pattern>/postdelete.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAllPostsServlet</servlet-name>
    <servlet-class>service.GetAllPostsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllPostsServlet</servlet-name>
    <url-pattern>/getallposts.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserCommentsServlet</servlet-name>
    <servlet-class>service.UserCommentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserCommentsServlet</servlet-name>
    <url-pattern>/getusercomments.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetWatchesServlet</servlet-name>
    <servlet-class>service.GetWatchesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetWatchesServlet</servlet-name>
    <url-pattern>/getwatches.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IncreWatchesServlet</servlet-name>
    <servlet-class>service.IncreWatchesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncreWatchesServlet</servlet-name>
    <url-pattern>/increwatches.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadHandlerServlet</servlet-name>
    <servlet-class>service.UploadHandlerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadHandlerServlet</servlet-name>
    <url-pattern>/uploadhandler.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAllTagsServlet</servlet-name>
    <servlet-class>service.GetAllTagsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllTagsServlet</servlet-name>
    <url-pattern>/getalltags.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NoticeServlet</servlet-name>
    <servlet-class>service.NoticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoticeServlet</servlet-name>
    <url-pattern>/notice.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>service.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/test.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetPostTitleServlet</servlet-name>
    <servlet-class>service.GetPostTitleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPostTitleServlet</servlet-name>
    <url-pattern>/getposttitle.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ValidateUsernameServlet</servlet-name>
    <servlet-class>service.ValidateUsernameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateUsernameServlet</servlet-name>
    <url-pattern>/validateusername.do</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
    <servlet-name>GetPaginationPostServlet</servlet-name>
    <servlet-class>service.GetPaginationPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPaginationPostServlet</servlet-name>
    <url-pattern>/getpagination.do</url-pattern>
  </servlet-mapping>
  
</web-app>